@import '../../index';

.led-border {
    color: black;

    line { stroke-width: 0; }
    path { stroke-width: 0; }

}

.Visualizer__Container {
    height: 17vh;
}


.item__graph {
    // position: relative;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
