@import '../../index';

%widgetflex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.Streamer {

    &__Enclosure {

        width: 900px;

        &-Header {
        
            height: 8.2vh;
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            // align-items: center;
            justify-content: center;
            font-size: calc(10px + 2vmin);
            color: white;

        }

        &-logo {
            height: 40vmin;
            pointer-events: none;
        }

        &__title {
            padding: 10px;
            width: 500px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                margin: 20px;
                width: 100%;
            }
        }

        &-Main {

            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 15px;

        }
    }
}


.Main {

    &__Controls {
        display: flex;
        flex-direction: column;

        &-Info {
            @extend %container;
            @extend %widgetflex;
            height: 250px;
        }

        &-Volume {
            @extend %container;
            @extend %widgetflex;
            height: 80px;
            padding: 0 10px;
        }

    }

    &__Playlist {
        grid-column: span 2;
    }

}