
.Info {

    width: 80%;
    height: 90%;

    &__Enclosure {

        height: 100%;  
        overflow: hidden;
        position: relative;
        margin: auto;

        &-Banner {
            font-size: 1em;
            color: #e91e63;
            // position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            // line-height: 50px;
            text-align: center;
            /* Starting position */
            -webkit-transform: translateX(100%);    
               -moz-transform: translateX(100%);
                    transform: translateX(100%);
            /* Apply animation to this element */  
            -webkit-animation: TrackBanner 20s linear infinite;
               -moz-animation: TrackBanner 20s linear infinite;
                    animation: TrackBanner 20s linear infinite;
        }

    }

}

.Artwork {
    width: 100%;
    height: auto;
}


.Ellipse__Temp {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}


/* Move it (define the animation) */
@-moz-keyframes TrackBanner {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes TrackBanner {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes TrackBanner {
    0%   { 
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%);       
    }
    100% { 
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%); 
    }
}