@import '../../index';

.Controls {
    @extend %container;
    height: 60px;

    &__Track {
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        &-Action {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }

}

.Action {

    &__Center {
        width: 60px;
        height: 60px;
    }

}