@import '../../index';

// svg graph styles

.Playlist__Container {
    @extend %container;
    overflow-y: scroll;
}

ul {
    list-style-type: none;
}

.streamer {

    &__list {

        .item__icon {
            display: none;
        }

        .item__icon:hover {
            display: inline-block;
        }

        &-item {
            position: relative;
            height: 90px;
        }

        &-item:not(:last-of-type) {
            border-bottom: 1px solid rgb(40,44, 52);
        }

        &-item:hover {

        }

    }
    
}

.item__label {
    position: absolute;
    top: 35%;
    left: 20px;
}

// .item__title {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
// }

.MuiListItem-root {
    max-width: 65vw;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.MuiList-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.MuiList-root {
    height: 70vh;
}

.MuiListItem-gutters {
    padding-left: 0 !important;
    padding-right: 0 !important;
}